<% content_for :content do %>

<p id="rate-limit" style="display: none">
	Remaining Twitter Updates: <span class="remaining-hits"></span>, 
	reset at <span class="reset-time"></span>
</p>

<div id="loading">Loading... Please wait</div>

<div id="templates" style="display: none">
	<div class="report" style="display: none">
		<h2>
			Tweetalytics - Sampling 
			<span class="num-tweets"></span> tweets and 
			<span class="num-followers"></span> followers
		</h2>
		<div id="stats">
			<div>
				<p><label>Tweets:</label> <span class="tweets"></span></p>
				<p><label>Followers:</label> <span class="followers"></span></p>
			</div>

			<div class="on">
				<p><label>Avg. Tweets / Day:</label> <span class="avg_tweets_per_day"></span></p>
				<p><label>Friends:</label> <span class="friends"></span></p>
			</div>

			<div>
				<p><label>Avg. Tweet Length:</label> <span class="avg_tweet_length"></span></p>
				<p><label>Retweet Potential:</label> <span class="retweet_potential"></span></p>
			</div>

			<div class="on">
				<p><label>Current Tweet Velocity:</label> <span class="current_velocity"></span></p>
				<p><label>Avg. Retweet Potential:</label> <span class="avg_retweet_potential"></span></p>
			</div>
			<br style="clear: both" />
		</div>
		
		<p><a class="refine">Add more tweets and followers!</a></p>
		
		<div id="charts">
		</div>
		<br style="clear: both" />
	</div>
	
	<div class="chart">
		<h2></h2>
		<img src="" />
		<a class="more">see further</a>
	</div>
</div>

<% end %>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
	initSearch('../users/');
	UserReport.init('<%= @screen_name %>');
});
</script>
<% end %>
