<% content_for :content do %>
	<h2>about</h2>
	<p>Tweetaly.tc (twee-ta-lit-ic) was created to supply fast and simple analytics to
		twitter users about twitter users. As such it is a no-nonsense service that aims 
		to be informative, responsive, open, and adaptable.</p>
	<p>The entirety of this first release was written for Rails during the course of a week by 
		myself. When I started the project I had no prior knowledge of Ruby or Rails. I look at this
		site as a testament to the ease-of-use and shallow learning curve of the RoR system and I am
		thoroughly pleased with the experience thus far.</p>
	<p>Thank you for using the site and I sincerely hope you find it useful! If you have any
		questions, comments, suggestions, or concerns feel free to contact me via twitter.</p>
	<p>-- Ryan Sandor Richards (<a target="_blank" href="http://twitter.com/rsandor">@rsandor</a>)</p>
<% end %>