<% content_for :content do %>
	<h2>about</h2>
	<p>Tweetaly.tc (twee-ta-lit-ic) was created to supply fast and simple analytics to
		twitter users about twitter users. As such it is a no-nonsense service that aims 
		to be informative, responsive, open, and adaptable.</p>
	<p>The current version of the project uses Ruby on Rails for handling the back-end and
		page serving and an extensive JS library for connecting with the Twitter API and generating
		content on demand. There is also a nice Google Chart adapter written from scratch to make
		it easier to construct charts on-the-fly after the data has been processed and turned into
		"tweetalytcs".</p>
	<p>Thank you for using the site and I sincerely hope you find it useful! If you have any
		questions, comments, suggestions, or concerns feel free to contact me via twitter.</p>
	<p>-- Ryan Sandor Richards (<a target="_blank" href="http://twitter.com/rsandor">@rsandor</a>)</p>
<% end %>