<% content_for :content do %>
<div class="search">
	<%= image_tag "at.gif", :alt => "@" %>
	<input class="screen-name inactive" type="text" id="n" value="" />
	<a style="cursor: pointer" id="g"><%= image_tag "get_alytics.gif", :alt => "get 'alytics" %></a>
</div>
<% end %>

<% content_for :script do %>
<script type="text/javascript">$(document).ready(function() {initSearch()});</script>
<% end %>